.u-section-1 .u-sheet-1 {
  min-height: 69px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 21px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 113px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 336px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: -27px 59px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 21px 489px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 474px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px 494px 0 462px;
  padding: 8px 50px 8px 49px;
}

.u-section-2 .u-table-1 {
  width: 998px;
  margin: 26px auto 47px 55px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 31px 2px 30px;
}

.u-section-2 .u-table-cell-13 {
  background-image: none;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 31px 2px 29px;
}

.u-section-2 .u-table-cell-19 {
  background-image: none;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 31px 1px 29px;
}

.u-section-2 .u-table-cell-25 {
  background-image: none;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 31px 1px 30px;
}

.u-block-1034-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 394px;
    margin-left: 362px;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    height: 323px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 284px;
    margin-left: 252px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: 194px;
    margin-left: 162px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-right: 94px;
    margin-left: 62px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}