.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 21px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -23px auto 0 95px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: -31px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 336px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: -27px 59px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 489px;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  margin: -27px 471px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  margin: -24px 148px 26px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 289px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 271px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 69px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-text-1 {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  margin: 47px 80px 0 122px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  margin: 88px 106px 0 148px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  width: 886px;
  margin: 8px auto 0;
}

.u-section-2 .u-form-1 {
  height: 248px;
  margin: 106px 539px 60px 31px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 101px;
    margin-right: 101px;
  }

  .u-section-2 .u-text-2 {
    width: 886px;
    margin-right: 6px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}