.u-section-1 .u-sheet-1 {
  min-height: 69px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 21px auto 0 14px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 113px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 0 336px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  margin: -27px 59px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  margin: -27px auto 21px 489px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 136px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}.u-section-2 {
  min-height: 883px;
}

.u-section-2 .u-text-1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 31px calc(((100% - 1140px) / 2) + 101px) 0;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 536px);
  height: 616px;
  margin: 17px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 544px;
  height: 510px;
  margin: -356px calc(((100% - 1140px) / 2) + -69px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 523px;
  height: auto;
  margin: -686px calc(((100% - 1140px) / 2) + 119px) 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 31px 30px 30px;
}

.u-section-2 .u-form-1 {
  height: 338px;
  width: 570px;
  margin: 41px auto 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 101px;
    margin-right: calc(((100% - 1140px) / 2) + 301px);
    margin-left: calc(((100% - 1140px) / 2) + 301px);
  }

  .u-section-2 .u-shape-1 {
    width: 616px;
    margin-top: -44px;
    margin-left: calc(((100% - 1140px) / 2) + 248px);
  }

  .u-section-2 .u-shape-2 {
    width: 457px;
    height: 428px;
    margin-right: calc(((100% - 1140px) / 2) + 120px);
  }

  .u-section-2 .u-group-1 {
    margin-top: -761px;
    margin-right: calc(((100% - 1140px) / 2) + 129px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 510px);
    margin-left: calc(((100% - 1140px) / 2) + 630px);
  }

  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-shape-2 {
    width: 594px;
    height: 528px;
    margin-right: calc(((100% - 1140px) / 2) + 126px);
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 240px);
    margin-left: calc(((100% - 1140px) / 2) + 900px);
  }

  .u-section-2 .u-shape-1 {
    width: 502px;
    height: 503px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-shape-2 {
    width: 544px;
    margin-right: calc(((100% - 1140px) / 2) + 296px);
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + -60px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 390px;
    margin-top: -80px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}