.u-section-1 {
  min-height: 842px;
}

.u-section-1 .u-text-1 {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  margin: 61px calc(((100% - 1140px) / 2) + 64px) 0 calc(((100% - 1140px) / 2) + 138px);
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 536px);
  height: 616px;
  margin: -27px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 522px;
  height: 421px;
  margin: -269px calc(((100% - 1140px) / 2) + -42px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 504px;
  margin: -677px calc(((100% - 1140px) / 2) + 133px) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-1 .u-form-1 {
  height: 363px;
  width: 570px;
  margin: 17px auto 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 101px);
    margin-right: calc(((100% - 1140px) / 2) + 101px);
  }

  .u-section-1 .u-shape-1 {
    width: 616px;
    margin-left: calc(((100% - 1140px) / 2) + 20px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 507px);
    height: 428px;
    margin-right: calc(((100% - 940px) / 2) + -42px);
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 110px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 130px);
  }

  .u-section-1 .u-shape-2 {
    width: 594px;
    height: 528px;
    margin-right: calc(((100% - 1140px) / 2) + 185px);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 753px);
    height: 503px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 522px;
    margin-top: -313px;
    margin-right: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 390px;
    margin-top: -113px;
    margin-right: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}